:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;

  --azul: #0071b7;
  --blanco: #fff;
  --naranja: #ff4f1e;
  --fuentePrincipal: "Raleway", sans-serif;
}
html {
  background-color: var(--azul);
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 4.8rem;
  text-align: center;
  color: var(--blanco);
}
h2 {
  font-size: 5.8rem;
}
p {
  line-height: 1.8;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin-inline: auto;
  width: 90%;
}

.caja-curso {
  background-color: var(--naranja);
  text-align: center;
  color: var(--blanco);
  padding: 5rem;
}
.caja-curso h1 {
  margin: 0;
}
.caja-curso p {
  font-size: 2.4rem;
}
.caja-curso a {
  font-size: 2.4rem;
  padding: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--blanco);
  padding: 0;
}
/* Productos */
.products {
  margin-top: 5rem;
}
.products__heading {
  color: var(--blanco);
  text-align: center;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
/* Producto */
.product {
  background-color: var(--blanco);
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .product {
    margin-bottom: 0;
  }
}
.product:last-of-type {
  margin-bottom: 0;
}
.product__content {
  padding: 2rem;
}
.product__name {
  font-size: 4rem;
}
.product__description {
  color: #8b8b8b;
  margin: 0;
}
.product__prices {
  display: flex;
  justify-content: space-between;
}
.product__price {
  font-size: 4rem;
  color: green;
  font-weight: 900;
  margin: 0;
}
/* Bloque__Elemento--Modificador (BEM) */
.product__price--offer {
  color: red;
  text-decoration: line-through;
}
.product__button {
  all: unset;
  background-color: var(--azul);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: var(--blanco);
  cursor: pointer;
}
.product__button:hover {
  background-color: #014570;
}
